@font-face {
    font-family: 'Blystnutter';
    src: url(Blystnutter.ttf);
}

@font-face {
    font-family: 'Timeless';
    src: url(Timeless.ttf);
}

.background-custom-color{
    background-color: #D6D6D6;
}

.primary-custom-text{
    color: #414040;
    text-align: justify;
    font-family: 'Timeless';
    font-size: 25px;
}

.primary-custom-title{
    color: #000000;
    text-align: center;
    font-family: 'Blystnutter';
    font-weight: bolder;
    text-shadow: 2px 2px #e6e48d;
    font-size: 70px;
}

.secondary-custom-title{
    color: #000000;
    text-align: justify;
    font-family: 'Blystnutter';
    font-weight: bold;
    text-shadow: 2px 2px #e6e48d;
    font-size: 50px;
}

.margin-correction{
    margin-left: 3%;
    margin-right: 3%;
    display: inline;
}

.section-correction{
    display: inline-block;
    vertical-align: middle;
}

/*elenco puntato*/
div.primary-custom-text{
    margin-top: -2%;
    color: #414040;
    text-align: justify;
    font-family: 'Timeless';
    font-size: 25px;
}

ul.setcenter {
    display: inline-block;
    text-align: left;
}

/*slider*/
.slider {
    border: 2px solid black;
    width: 300px;
    height: 500px;
    background-color: #e6e48d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 2500px;
    background-color: #e6e48d;
    height: 500px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide-1:target ~ .image-container {
    left: 0px;
}

#slide-2:target ~ .image-container {
    left: -300px;
}

#slide-3:target ~ .image-container {
    left: -600px;
}

#slide-4:target ~ .image-container {
    left: -900px;
}

.buttons {
    position: relative;
    top: -20px;
}
  
.buttons a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #414040;
    opacity: 20%;
}

.buttons a:hover{
    opacity: 100%;
}

