.background-custom-color{
    background-color: #D6D6D6;
}

.primary-custom-text{
    color: #414040;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}

.primary-custom-title{
    color: #000000;
    text-align: center;
    font-family: serif;
    font-weight: 500;
    font-size: 50px;
}

.secondary-custom-title{
    color: #000000;
    text-align: center;
    font-family: serif;
    font-weight: 500;
    font-size: 35px;
}

.set-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.slider {
    width: 400px;
    height: 700px;
    background-color: #e6e48d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 1500px;
    background-color: #e6e48d;
    height: 700px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide-1:target ~ .image-container {
    left: 0px;
}

#slide-2:target ~ .image-container {
    left: -400px;
}

#slide-3:target ~ .image-container {
    left: -800px;
}

.buttons {
    position: relative;
    top: -20px;
}
  
.buttons a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #414040;
}

